/*Your styles*/

body {
    margin: 0;
}


#content {
    margin-right:auto;
    margin-left:auto;
    vertical-align:middle;
    width:100%;
}

ul{
    list-style: none;
    padding: 0;
}

.container{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 20px 1fr 20px;
    grid-template-areas: 
        "nav"
        "main"
        "footer"
    ;
}

.nav{
    grid-area: nav;
}

.main{
    grid-area: main;
    padding: 10px;
}

.footer{
    grid-area: footer;
    padding: 10px;
}

.nav__form{
    height: 100%;
}

.nav__link{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: inherit;
    margin: 0;
}
    .nav__link > li{
        width: calc(100%/3);
        display: block;
        height: 100%;
        text-align: center;
        position: relative;
    }

    .nav__label{
        cursor: pointer;
    }

        .nav__radio{
            display: none;
        }

        .nav__display{
            width: 100%;
            height: 100%;
            background: rgb(54, 97, 56);
        }

        .nav__title{
            position: absolute;
            display: block;
            top: 50%;
            left: 50%;
            transform: translate(-50% , -50%);
            width: 100%;
            height: 100%;
        }

        .nav__radio:checked + .nav__display{
            background: rgb(120, 196, 124);
        }


.hide{
    display: none;
}   


/*
Those classes will be edited at runtime with values specified
by the settings of the CC application
*/
.hostFontColor{}
.hostFontFamily{}
.hostFontSize{}

/*font family, color and size*/
.hostFont{}
/*background color*/
.hostBgd{}
/*lighter background color*/
.hostBgdLight{}
/*darker background color*/
.hostBgdDark{}
/*background color and font*/
.hostElt{}


.hostButton{
    border:1px solid;
    border-radius:2px;
    height:20px;
    vertical-align:bottom;
    font-family:inherit;
    color:inherit;
    font-size:inherit;
}
/*
.topcoat-button{
    background: rgb(49, 49, 49);
}
    .topcoat-button:hover{
        background: rgb(30,30,30);
        cursor: pointer;
    }
*/